.optibot {
  animation: fade-in 0.5s ease-in-out;
  overflow: hidden;
  margin-top: 2rem;
  margin-bottom: 4.5rem;

  .chatbox {
    min-height: 35vw;

    scroll-behavior: smooth;
  }
  .questions {
    flex-wrap: wrap;
  }
  .answers > div:last-child {
    animation: fade-in 0.5s ease-in-out;
  }
}
