.navbar {
  .logo-enter {
    opacity: 0;
    transform: translateX(-100%);
  }

  @keyframes slide-in {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    50% {
      opacity: 0.5;
      transform: translateX(0);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .logo {
    max-width: 17rem;
    opacity: 0;
    transform: translateX(-100%);
    animation: slide-in 1.5s ease-in-out forwards;
  }

  h4 {
    opacity: 0;
    animation: jump-in 1s ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    transition: color 0.2s ease-in-out;
  }

  h4:hover {
    color: #81b1e2 !important;
  }
}
